.header {
	display: flex;
	margin-top: -10px;
	justify-content: space-between;
	align-items: center;
	padding-right: 0.9rem;
	padding-left: 0.9rem;
	border: 1px solid grey !important;
}
.header .menu {
	color: white !important;
}
.header > h2 {
	color: red;
}
.header > h2 .span1 {
	color: yellow;
}
